<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoundPlow</title>
  <link rel="stylesheet" href="../../public/main.css">
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script> -->


</head>

    <body> 
      <div class="pimg1">
        <div class ="ptext">
          <span class="border">
            SoundPlow
          </span>
            <picture>
            <img src='soundplowlogo.jpg' alt="logo" style = "width:auto">  
            </picture>
            
          
        </div>
      </div>

      <section class="section section-light">
        <p> 
          {{{body}}} 
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        </p> 
      </section>

      <div class="pimg2">
        <div class="ptext">
          <span class="border trans">
            Reinventing The Concert Planning Process
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Two</h2>
        <p>
          "AN INTENSE SOCIAL EXPERIENCE"
        </p>
      </section>

      <div class="pimg3">
        <div class="ptext">
          <span class="border trans">
            PREPARE YOURSELF
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Three</h2>
        <p>
          Our product will be an application that users can use to meet and connect with individuals that have similar music tastes. Some of these individuals already being friends and previous acquaintances, and others being new people. We will then give the connected individuals access to tickets for concerts and other music events. These tickets would then be potentially discounted or have other associated specials to incentivize our consumer to use our platform.

        </p>
      </section>

      <div class="pimg1">
        <div class="ptext">
          <span class="border">
            Plowing Your Sound
          </span>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script>
      </script>
  </body>
</html>