
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoundPlow</title>
  <link rel="stylesheet" href="../../public/main.css">
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script> -->


</head>

    <body> 
      <div class="pimg1">
        <div class ="ptext">
          <span class="border">
            SoundPlow
            <img src = "../img/soundplowlogo.jpg">

          </span>
          <span></span>
        </div>
      </div>

      <section class="section section-light">
        <p> 
          {{{body}}} 
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        </p> 
      </section>


      <div class="pimg2">
        <div class="ptext">
          <span class="border trans">
            Image Two Text
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Two</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
        </p>
      </section>

      <div class="pimg3">
        <div class="ptext">
          <span class="border trans">
            Image Three Text
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Three</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
        </p>
      </section>

      <div class="pimg1">
        <div class="ptext">
          <span class="border">
            Plowing Your Sound
          </span>
        </div>
      </div>
    </body>
    </html>



<body>
    {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>


</body>

</html>

