<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/main.css">
  <title>SoundPlow</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<div class="nav">
  <div>
    <a href="/">Home</a> &nbsp;||&nbsp;
   <!--  <a href="/facebooklogin">Login</a> &nbsp;||&nbsp; -->

<body>
    {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>


</body>

</html>