<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/main.css">
  <title>SoundPlow</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<<<<<<< HEAD

=======
<div class="nav">
  <div>
    <a href="/">Home</a> &nbsp;||&nbsp;
    <a href="/facebooklogin">Login</a> &nbsp;||&nbsp;
>>>>>>> b80b6e010f626435e39d81f62943ed09d3cf6db1
<body>
    {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>


</body>

</html>