<span><a href="/api/register">Home</a></span>

<h3> Description Page </h3>
<p> Developers: Ryan Dietz and CJ Bangert <p>
<br>
<p> Description: This App is SoundPlow. The purpose is to make a social concert going experience.
<br>
Users can input concerts that they're going to and others can see. We also implemented a login
<br>
system with salted and encrypted passwords using bcrypt.  </p>