<span><a href="/api/register">Home</a></span>

<article>
 <form method="post" action="/api/delete_venue?_method=DELETE">
        
        <div class="input-field">
            <label>Venue:</label>
            <input type="text" name="name" size="50" placeholder="Venue">
        </div>
       
        <button type="submit">Delete Venue </button>
  </form>
</article>


{{#each data}}
    <article>
        <div>
          <p name="location"> {{this.name}} <br> Concert IDs: {{this.ids}} </p>         
        </div>
    </article>
{{/each}}