<h1>Register</h1>
<article>

    <ul id="messages"></ul>
    <form method="POST" action="/api/register" id="form" autocomplete="off">

        <div>
            <label>Username:</label>
            <input type="text" name="username" size="50" placeholder="username" id = "username">
        </div>
         <div>
            <label>Password:</label>
            <input type="password" name="password" size="50" placeholder="password">
        </div>
       <div>
            <label>Sex:</label>
            <input type="text" name="sex" size="50" placeholder="sex">
        </div>
         <div>
            <label>Age:</label>
            <input type="text" name="age" size="50" placeholder="ex. 21">
        </div>
         <div >
            <label>Music Interests:</label>
            <input type="text" name="music_interests" size="50" id = "music "placeholder="ex. Country, Rap, Classic Rock">
        </div>
        <div >
            <label>Concert IDs:</label>
            <input type="text" name="concerts_going" size="50" placeholder="ex. 123, 5, 785">
        </div>
        
        <button type="submit">Register </button>
        
    </form>

</article>
