<h1>Register</h1>
<article>
    <form method="POST" action="/api/register">
        <div>
            <label>Username:</label>
            <input type="text" name="username" size="50" placeholder="username">
        </div>
         <div>
            <label>Password</label>
            <input type="password" name="password" size="50" placeholder="password">
        </div>
       
        <button type="submit">Register </button>
    </form>
</article>
